*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}

.App {
    padding:0px;
    margin: 60px auto;
    background: #B7AA9B;
    height: 100%;
    width: 60vw;
}